<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-wrap">
                <h1>My Binding Application</h1>
                <form role="form">
                    <!-- Title Interpolation Binding-->
                    <div class="form-group">
                        <label>Title : </label> {{title}} 
                    </div>
                     <!-- Name Interpolation Binding-->
                    <div class="form-group">
                        <label for="lastName">Name : </label> {{name}}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.col-xs-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->